
{% extends 'core/base.html'%}

{% block title%}아파트 입력{%endblock%}

{% block content%}

<div class="w-1/2 my-6  mx-auto p-6 bg-gray-100 rounded-xl">
    <form method="post" > {% comment "" %}post 방식을 사용{% endcomment %}
        {% csrf_token %} {% comment "" %}post방식을 사용할땐 csrf_token이 있어야 함{% endcomment %}
        <div class ="m-3">
        <label for="email" class="font-semibold text-2xl">발송된 문자의 인증번호 입력</label>
        {% comment %} <label for="email" class="font-semibold text-2xl">{{random_code}}</label> 본래 핸드폰으로 인증코드 문자가 전해오지만 이 방식은 돈을 사용함으로 예제에서는 인증코드를 보여줌 시연때는 없앨 것 {% endcomment %}
        </div>
        <div>
        <input type="text" id="email" name="email" class="w-4/5 py-4 px-6 rounded-xl", required> {% comment "" %}email이라는 이름 과 아이디를 가진 text 타입의 input (입력){% endcomment %}
        <button onclick="buttonclick('{{random_code}}')" class="ml-10 mt-4 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">완료</button> {% comment "" %}버튼을 클릭했을 때 매개변수로 인증코드를 보내고 javascript의 buttonclick함수를 호출함{% endcomment %}
        </div>
    </form>
</div>
<script>
    function buttonclick (str1){ //buttonclick 함수
        var emailInput = document.getElementById("email"); //email이라는 이름을 가진 값을 얻어와 emailInput이라는 곳에 저장 
        var emailValue = emailInput.value.trim(); //입력 한 값의 공백을 없앰 
        var stringstr = str1.trim(); //매개변수로 전달된 인증코드의 공백을 없앰 

        if (emailValue === stringstr) { // 인증코드와 휴대폰으로 전송된 인증코드가 같을 때 
            alert('인증이 완료되었습니다.');
        }else{
            alert('인증번호가 일치하지 않습니다.');
        }   
    }
</script>
{% endblock %}
