{% extends 'core/base.html'%}

{% block title%}Log in{%endblock%}

{% block content%}
<div class="w-1/2 my-6  mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">로그인</h1>
    <form method="post" action="."> {% comment "" %}post 방식 사용{% endcomment %}
        {% csrf_token%} {% comment "" %}post 방식의 사용에는 csrf_token이 필요{% endcomment %}

        <div class="mb-3">
            <label class="inline-block mb-2">아이디</label><br>
            {{form.username}} {% comment "" %}form의 username을 불러옴 {% endcomment %}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">비밀번호</label><br>
            {{form.password}}{% comment "" %}form의 password를 불러옴 {% endcomment %}
        </div>


        {% if form.errors or form.non_field_errors%} {% comment "" %}form이 일치 하지 않거나 값이 존재하지 않는 form이 있다면 {% endcomment %}
            <div class='mb-3 p-6 bg-red-100 rounded-xl'>
                {%for field in form%}
                    {{field.errors}} {% comment "" %}해당하는 field에 error를 띄움{% endcomment %}
                {%endfor%}

                {{form.non_field_errors}} {% comment "" %}비어있는 필드가 존재한다면 에러를 띄움 {% endcomment %}
            </div>
        {%endif%}
        <button class="mt-4 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">완료</button>
    </form>
</div>
{% endblock %}
